h2{
    color:red;
}
@media(max-width:600px){
    h2{color:peru;}
}
.navigation{
    background-color:rgb(153, 86, 86);
}
#navs{
    color:rgb(235, 224, 224);
}
.navigation{
    display:flex;
    justify-content: space-evenly;
}
.menu-item{
    display: flex;
    gap:10px;
}